
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="shortcut icon" href="assets/img/favicon.png">
<link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/~Content/assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/Content/assets/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="~/Content/assets/css/style.css">

<body>
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <img class="img-fluid logo-dark" src="~/Content/IMG/logo1.png" alt="Logo" style="height:65px; margin-bottom:-10px;margin-top:-10px;">
            <div class="loginbox">
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Login</h1>
                        <p class="account-subtitle">Access to our dashboard</p>
                        <div id="error-message" class="error-message text-center ">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</div>
                        <form action="Login" method="post" name="login">
                            <div class="pass-group">
                                <label for="exampleInputUserId" class="form-control-label">User Id</label>
                                <input type="text" name="UserId" class="form-control" id="userId" aria-describedby="UserIdHelp" placeholder="Enter User Id" required />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword" class="form-control-label">Password</label>
                                <div class="pass-group">
                                    <input type="password" name="password" id="password" class="form-control" aria-describedby="PasswordHelp" placeholder="Enter Password" required />
                                    <span class="fas fa-eye toggle-password"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cb1">
                                            <label class="custom-control-label" for="cb1">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a class="forgot-link" href="@Url.Action("ForgetPassword","Account")">Forgot Password ?</a>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-lg btn-block btn-primary" type="submit">Login</button>
                            <div class="login-or">
                                <span class="or-line"></span>
                                <span class="span-or">or</span>
                            </div>
                            <div class="social-login mb-3">
                                <span>Login with</span>
                                <a class="google"><i class="fab fa-google"></i></a>
                            </div>
                            <div class="text-center dont-have">
                                Don't have an account yet? <a href="register.html">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    function hideErrorMessage() {
        $('#error-message').html('');
    }
    $('#loginForm').submit(function (event) {
        event.preventDefault();
        hideErrorMessage();
    });
    $('#userId, #password').focus(function () {
        hideErrorMessage();
    });

    </script>
    <script src="~/Content/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/feather.min.js"></script>
    <script src="~/Content/assets/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>