@model OnlineAttendece.ADODBFIle.AdminLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Update Password</title>
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.png">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <script>
            alert('@ViewBag.SuccessMessage');
            // Redirect to Index or Account page after OK click
            window.location.href = '@Url.Action("Index", "Account")';
        </script>
    }

</head>
<body>
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <img class="img-fluid logo-dark mb-2" src="~/Content/IMG/logo2.svg" alt="Logo">
                <div class="loginbox">
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Create New Password?</h1>
                            <form action="@Url.Action("ResetPassword","Account")" method="post">
                                <div class="col-xl-12 col-sm-12 col-12 mt-4 ">
                                    <div class="form-group">
                                        <label class="form-control-label">New password</label>
                                        <div class="pass-group">
                                            <input type="password" class="form-control" name="newPassword" placeholder="Enter New Password" />
                                            <span class="fas fa-eye-slash toggle-password"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-sm-12 col-12 mt-4 ">
                                    <div class="form-group">
                                        <label class="form-control-label">Confirm password</label>
                                        <div class="pass-group">
                                            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" />
                                            <span class="fas fa-eye-slash toggle-password"></span>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-xl-12 col-sm-12 col-12 mt-4 ">
                                    <div class="row">
                                        <div class="col-xl-12 col-sm-12 col-12 ">
                                            <div class="form-btn text-center">
                                                <button type="submit" class="btn btn-apply w-auto mt-3">
                                                    Update Password
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="text-center dont-have">
                                Remember your password? <a href="@Url.Action("Index","Account")">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/feather.min.js"></script>
    <script src="~/Content/assets/js/script.js"></script>
</body>
</html>
